@import "null.css";

@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woof");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Circular Std";
	src: url("../fonts/CircularStd-Bold.woff2") format("woff2") url("../fonts/CircularStd-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: "Circular Std", sans-serif;
}
h1 {
	font-weight: 400;
	font-size: 65px;
	line-height: 82px;
	text-align: center;
	color: #313131;
	margin: 140px 413px 20px 426px;
}
.block {
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #5f5f5f;
	margin-bottom: 224px;
}
h2 {
	color: #313131;
	opacity: 0.88;
	font-weight: bold;
	font-size: 34px;
	width: 239px;
	margin: 0px 994px 20px 207px;
}
.text {
	font-size: 18px;
	color: #5f5f5f;
	width: 508px;
	margin: 0px 725px 125px 207px;
}
.dragos {
	font-weight: 700;
	font-size: 18px;
	color: #313131;
	opacity: 0.88;
	margin: 0px 1094px 5px 207px;
}
.marketing {
	font-size: 18px;
	color: #b8b8b8;
	margin: 0px 1081px 100px 207px;
}
img {
	margin: 0px 0px 0px 300px;
}
